In [2]:
import sqlite3 as sq3
conn = sq3.connect("nominations.db")

In [3]:
schema = conn.execute("pragma table_info(nominations);").fetchall()
first_ten = conn.execute("select * from nominations limit 10;").fetchall()

for s in schema:
    print(s)

(0, 'id', 'integer', 0, None, 1)
(1, 'category', 'text', 0, None, 0)
(2, 'nominee', 'text', 0, None, 0)
(3, 'movie', 'text', 0, None, 0)
(4, 'character', 'text', 0, None, 0)
(5, 'won', 'text', 0, None, 0)
(6, 'ceremony_id', 'integer', 0, None, 0)

In [5]:
for f in first_ten:
    print(f)

(1, 'Actor -- Leading Role', 'Javier Bardem', 'Biutiful', 'Uxbal', '0', 1)
(2, 'Actor -- Leading Role', 'Jeff Bridges', 'True Grit', 'Rooster Cogburn', '0', 1)
(3, 'Actor -- Leading Role', 'Jesse Eisenberg', 'The Social Network', 'Mark Zuckerberg', '0', 1)
(4, 'Actor -- Leading Role', 'Colin Firth', "The King's Speech", 'King George VI', '1', 1)
(5, 'Actor -- Leading Role', 'James Franco', '127 Hours', 'Aron Ralston', '0', 1)
(6, 'Actor -- Supporting Role', 'Christian Bale', 'The Fighter', 'Dicky Eklund', '1', 1)
(7, 'Actor -- Supporting Role', 'John Hawkes', "Winter's Bone", 'Teardrop', '0', 1)
(8, 'Actor -- Supporting Role', 'Jeremy Renner', 'The Town', 'James Coughlin', '0', 1)
(9, 'Actor -- Supporting Role', 'Mark Ruffalo', 'The Kids Are All Right', 'Paul', '0', 1)
(10, 'Actor -- Supporting Role', 'Geoffrey Rush', "The King's Speech", 'Lionel Logue', '0', 1)

In [6]:
conn.execute("create table ceremonies (id integer primary key, Year integer, Host text);")

OperationalError: table ceremonies already exists

In [7]:
years_hosts = [(2010, "Steve Martin"),
               (2009, "Hugh Jackman"),
               (2008, "Jon Stewart"),
               (2007, "Ellen DeGeneres"),
               (2006, "Jon Stewart"),
               (2005, "Chris Rock"),
               (2004, "Billy Crystal"),
               (2003, "Steve Martin"),
               (2002, "Whoopi Goldberg"),
               (2001, "Steve Martin"),
               (2000, "Billy Crystal"),
            ]

insert_query = "INSERT INTO ceremonies (Year, Host) VALUES (?,?);"

conn.executemany(insert_query, years_hosts)

In [8]:
print(conn.execute("pragma table_info(ceremonies);").fetchall())

[(0, 'id', 'integer', 0, None, 1), (1, 'Year', 'integer', 0, None, 0), (2, 'Host', 'text', 0, None, 0)]

In [9]:
print(conn.execute("select * from ceremonies limit 10;").fetchall())

[(1, 2010, 'Steve Martin'), (2, 2009, 'Hugh Jackman'), (3, 2008, 'Jon Stewart'), (4, 2007, 'Ellen DeGeneres'), (5, 2006, 'Jon Stewart'), (6, 2005, 'Chris Rock'), (7, 2004, 'Billy Crystal'), (8, 2003, 'Steve Martin'), (9, 2002, 'Whoopi Goldberg'), (10, 2001, 'Steve Martin')]

In [10]:
conn.execute("pragma foreign_keys = ON;")

In [12]:

create_nominations_two = '''create table nominations_two 
(id integer primary key, 
category text, 
nominee text, 
movie text, 
character text, 
won text,
ceremony_id integer,
foreign key(ceremony_id) references ceremonies(id));
'''

nom_query = '''
select ceremonies.id as ceremony_id, nominations.category as category, 
nominations.nominee as nominee, nominations.movie as movie, 
nominations.character as character, nominations.won as won
from nominations
inner join ceremonies 
on nominations.year == ceremonies.year
;
'''
joined_nominations = conn.execute(nom_query).fetchall()

conn.execute(create_nominations_two)

insert_nominations_two = '''insert into nominations_two (ceremony_id, category, nominee, movie, character, won) 
values (?,?,?,?,?,?);
'''

conn.executemany(insert_nominations_two, joined_nominations)
print(conn.execute("select * from nominations_two limit 5;").fetchall())

OperationalError: no such column: nominations.year

In [ ]:
insert_nominations_two = '''INSERT INTO nominations_two (category, nominee, movie, 
character, won, ceremony_id) VALUES (?,?,?,?,?,?);
'''
conn.executemany(insert_nominations_two, joined_nominations)

print(conn.execute("select * from nominations_two limit 5;").fetchall())

In [ ]:
conn.execute("drop table nominations;")

In [ ]:
conn.execute("alter table nominations_two rename to nominations;")

In [ ]:
conn.execute('''create table movies (id integer primary key, 
movie text);''')

conn.execute('''create table actors (id integer primary key,
actor text);''')

In [ ]:
conn.execute('''CREATE TABLE movies_actors (
id INTEGER PRIMARY KEY,
movie_id INTEGER REFERENCES movies(id), 
actor_id INTEGER REFERENCES actors(id)
);''')

In [ ]:
print(conn.execute("select * from movies_actors limit 5;").fetchall())